pkgbase = rism
	pkgdesc = Rust implementation of iSM
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/neferin12/iSM
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = clang
	depends = z3
	source = rism-1.2.1.tar.gz::https://github.com/neferin12/iSM/archive/refs/tags/rust-v1.2.1.tar.gz
	sha256sums = 7e88cdb8033c644238b093e395c45ac0f45d73978fe62fb9b313dc4f54098d00

pkgname = rism
