pkgbase = cism
	pkgdesc = C implementation of iSM
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/neferin12/iSM
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = glibc
	depends = openmpi
	source = libism-1.1.0.tar.gz::https://github.com/neferin12/iSM/archive/v1.1.0/libism-1.1.0.tar.gz
	sha256sums = 261fea49ef020e731999d1a9455685675bf0ece093ba281db6f892c138197d0e

pkgname = libism
	depends = glibc

pkgname = cism
	depends = glibc
	depends = openmpi
	depends = libism
