pkgbase = cism
	pkgdesc = C implementation of iSM
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/neferin12/iSM
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = glibc
	depends = openmpi
	source = libism-1.0.4.tar.gz::https://github.com/neferin12/iSM/archive/v1.0.4/libism-1.0.4.tar.gz
	sha256sums = 1e03a6e0f4679098bd38ab79265b470e7ed1e3565f2e715157ee79e300f960f7

pkgname = libism
	depends = glibc

pkgname = cism
	depends = glibc
	depends = openmpi
	depends = libism
